<div class="single-winer">
  <div class="top-area">
    <div class="left">
      <h4 class="name">#{{ winner.ticket_hash }}</h4>
    </div>
    <br />
    <div class="right">
      <p class="date">{{ winner.jackpot.draw_date }}</p>
    </div>
  </div>
  <div class="bottom-area">
    <div class="left">{{ winner_amount }} TIA</div>
    <div class="right">
      <img style="max-width: 2rem" src="https://framerusercontent.com/images/6oZ4FT1kBDFymx54SLCto0RVrI.png" alt="" />
    </div>
  </div>
</div>