<header class="header">
  <div class="mainmenu-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="navbar-brand">
              <a [routerLink]="['/home']">
                <img
                  style="min-width: 7rem"
                  src="/assets/images/home/LOGO-LATAM-W-01-01.svg"
                  alt="LATAM NODES Logo"
                />
              </a>
            </div>
            <div
              class="collapse navbar-collapse justify-content-end"
              id="main_menu"
            >
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['/' + text]"
                    >{{ text }}
                    <div class="mr-hover-effect"></div
                  ></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
