<section class="lottery-area" style="padding-top: 12rem">
  <div class="lottery-staticstics">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="single-staticstics">
            <div class="left">
              <div class="icon">
                <img src="/assets/images/participant/st1.png" alt="" />
              </div>
            </div>
            <div class="right">
              <h4 class="title">Lottery Jackpot</h4>
              <div class="count">
                <img
                  style="max-width: 2rem"
                  src="/assets/images/participant/celestia-icon.png"
                  alt=""
                />
                <span>{{ summaryData.latest_jackpot_amount }} UTIA</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-staticstics">
            <div class="left">
              <div class="icon">
                <img src="assets/images/participant/st2.png" alt="" />
              </div>
            </div>
            <div class="right">
              <h4 class="title">Total Tickets</h4>
              <div class="count">
                <img src="/assets/images/participant/tikit-icon.png" alt="" />
                <span>{{ summaryData.total_tickets }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-staticstics">
            <div class="left">
              <div class="icon">
                <img src="assets/images/participant/st2.png" alt="" />
              </div>
            </div>
            <div class="right">
              <h4 class="title">Address Tickets</h4>
              <div class="count">
                <img src="/assets/images/participant/tikit-icon.png" alt="" />
                <span>{{ summaryData.participant_tickets }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
