<section class="activities">
  <!-- <img class="shape shape1" src="/assets/images/home/shape1.png" alt="" />
  <img class="shape shape2" src="/assets/images/home/shape2.png" alt="" />
  <img class="shape shape3" src="/assets/images/home/shape3.png" alt="" /> -->
  <div class="how-it-work">
    <img class="bg-shape" src="/assets/images/home/bg-shape.png" alt="" />
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <div class="section-heading">
            <h5 class="subtitle">Want to see how</h5>
            <h2 class="title">How it works?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="single-work">
            <img
              style="max-width: 10rem"
              src="assets/images/home/ic2.png"
              alt=""
            />
            <h4 class="title">Stacking</h4>
            <p>Stake $TIA in our validator (Latam Nodes)</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-work">
            <img
              style="max-width: 10rem"
              src="https://icons.veryicon.com/png/o/business/work-circle/wallet-address.png"
              alt=""
            />
            <h4 class="title">Your address</h4>
            <p>Type and check your eligibility to get tickets</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-work">
            <img src="/assets/images/home/ic3.png" alt="" />
            <h4 class="title">WIN</h4>
            <p>Wait for the countdown to end to get the winner!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
